[user]
	email = lipaysamart@gmail.com
	name = lipaysamart
[github]
    user = lipaysamart
[credential]
	helper = store
[core]
	editor = vim
[color]
	ui = true
[alias]
	ci = commit
	st = status
	lg = log -p
	ls = ls-files
	co = checkout
	br = branch
[core]
	autocrlf = input
	whitespace = fix
[http]
	postBuffer = 157286400
	proxy = http://127.0.0.1:7897
[https]
	proxy = http://127.0.0.1:7899

[pull]
		rebase = true
[init]
		defaultBranch = main
[diff]
		algorithm = histogram
		tool = difftastic
