[user]
	email = lipaysamart@gmail.com
	name = lipaysam
[github]
    user = lipaysamart
[credential]
	helper = store
[core]
	editor = vim
[color]
	ui = true
[alias]
	ci = commit
	st = status
	lg = log -p
	ls = ls-files
	co = checkout
	br = branch
[core]
	autocrlf = input
	whitespace = fix
[http]
	postBuffer = 157286400

[pull]
		rebase = true
[init]
		defaultBranch = main
[diff]
		algorithm = histogram
		tool = difftastic
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
